# Ignore the virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore macOS system files
.DS_Store

# Ignore database files
*.sqlite3
